In [7]:
from dotenv import load_dotenv
from os import getenv
load_dotenv()


# make a decorator to keep api key safe by assigning none after execution of function

True

In [8]:
import requests


RapidApiKey = getenv("RAPID_API_KEY")

word = "hatchback"

url = f"https://wordsapiv1.p.rapidapi.com/words/{word}/typeOf"

headers = {
	"X-RapidAPI-Key": RapidApiKey,
	"X-RapidAPI-Host": "wordsapiv1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)


RapidApiKey = None

{"word":"hatchback","typeOf":["car door","auto","automobile","car","machine","motorcar"]}

In [9]:
import requests

RapidApiKey = getenv("RAPID_API_KEY")

url = "https://wordsapiv1.p.rapidapi.com/words/incredible/definitions"

headers = {
	"X-RapidAPI-Key": RapidApiKey,
	"X-RapidAPI-Host": "wordsapiv1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)



RapidApiKey = None

{"word":"incredible","definitions":[{"definition":"beyond belief or understanding","partOfSpeech":"adjective"}]}

In [12]:
import requests
import ast
import re


# add threading to improve speed
def define(word, remove_gaps = False):

    try:
        RapidApiKey = getenv("RAPID_API_KEY")

        url = f"https://wordsapiv1.p.rapidapi.com/words/{word}/definitions"

        headers = {
            "X-RapidAPI-Key": RapidApiKey,
            "X-RapidAPI-Host": "wordsapiv1.p.rapidapi.com"
        }

        response = requests.request("GET", url, headers=headers)
        
        response_object = ast.literal_eval(response.text)
        
        #testing
        #print(response_object)

        # check if works
        if "success" in response_object.keys():
            raise "Error Word Does Not Exist"
        else:
            
            #grab definitions
            definitions = [x["definition"] for x in response_object["definitions"]]

            if remove_gaps:
                new_definition = []
                
                for definition in definitions:
                    definition = re.split(';.', definition)[0]
                    new_definition.append(definition)
                
                return new_definition

            return definitions
    except:
        raise "Error Word Does Not Exist"

RapidApiKey = None

In [13]:
define("car", remove_gaps=True)

['a motor vehicle with four wheels',
 'the compartment that is suspended from an airship and that carries personnel and the cargo and the power plant',
 'where passengers ride up and down',
 'a wheeled vehicle adapted to the rails of railroad',
 'a conveyance for passengers or freight on a cable railway']

In [14]:
import pandas as pd

data = pd.read_csv("english_word_data/unigram_freq.csv")
data

           word        count
0           the  23135851162
1            of  13151942776
2           and  12997637966
3            to  12136980858
4             a   9081174698
...         ...          ...
333328    gooek        12711
333329   gooddg        12711
333330  gooblle        12711
333331   gollgo        12711
333332    golgw        12711

[333333 rows x 2 columns]

In [22]:
import gmpy2
from gmpy2 import mpfr

gmpy2.get_context().precision=100

In [23]:
import pandas as pd

data = pd.read_csv("english_word_data/unigram_freq.csv")
data

           word        count
0           the  23135851162
1            of  13151942776
2           and  12997637966
3            to  12136980858
4             a   9081174698
...         ...          ...
333328    gooek        12711
333329   gooddg        12711
333330  gooblle        12711
333331   gollgo        12711
333332    golgw        12711

[333333 rows x 2 columns]

In [24]:
data["count"] = data["count"].astype(str)

new_series = data["count"].apply(lambda x: mpfr(x))

print(data["count"].dtype)


data["count"] = new_series

print(data["count"].dtype)

object
object

In [25]:
type(new_series)
new_series

0         23135851162.0
1         13151942776.0
2         12997637966.0
3         12136980858.0
4          9081174698.0
              ...
333328          12711.0
333329          12711.0
333330          12711.0
333331          12711.0
333332          12711.0
Name: count, Length: 333333, dtype: object

In [26]:
total_vals = sum(new_series)

In [27]:
new_series = data["count"].apply(lambda x: mpfr(x) / total_vals)

In [28]:
data["count"] = new_series

In [29]:
data["count"]

0           0.039338375070905469361116733518407
1           0.022362525338300483121980267461494
2            0.02210015761953702659133231416216
3           0.020636764209678229359080248573774
4           0.015440912627459126472746086446833
                          ...
333328    2.1612781048123489870899905115525e-08
333329    2.1612781048123489870899905115525e-08
333330    2.1612781048123489870899905115525e-08
333331    2.1612781048123489870899905115525e-08
333332    2.1612781048123489870899905115525e-08
Name: count, Length: 333333, dtype: object

           word                                  count
0           the    0.039338375070905469361116733518407
1            of    0.022362525338300483121980267461494
2           and     0.02210015761953702659133231416216
3            to    0.020636764209678229359080248573774
4             a    0.015440912627459126472746086446833
...         ...                                    ...
333328    gooek  2.1612781048123489870899905115525e-08
333329   gooddg  2.1612781048123489870899905115525e-08
333330  gooblle  2.1612781048123489870899905115525e-08
333331   gollgo  2.1612781048123489870899905115525e-08
333332    golgw  2.1612781048123489870899905115525e-08

[333333 rows x 2 columns]